@font-face {
    font-family: 'Flash Cards';
    src: url("../resources/fonts/flash_cards/flash_cards.eot");
    src: url("../resources/fonts/flash_cards/flash_cards.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/flash_cards/flash_cards.svg#flash_cards") format("svg"), url("../resources/fonts/flash_cards/flash_cards.woff") format("woff"), url("../resources/fonts/flash_cards/flash_cards.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

#deck {
    height: 300px;
    list-style: none;
    margin: 15px auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 500px
}

#container {
    list-style: none;
    margin: 15px auto;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.card {
    -webkit-perspective: 1600;
    perspective: 1600;
    color: #222;
    display: none;
    font-family: SchoolBell;
    font-size: 30px;
    height: 300px;
    line-height: 60px;
    position: relative;
    width: 500px
}

.card:first-child {
    display: block
}

.side_one, .side_two {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 30, color-stop(0%, #ffffff), color-stop(96.667%, #ffffff), color-stop(100%, #0080ff));
    background-image: -webkit-linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    background-image: -moz-linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    background-image: -o-linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    background-image: -ms-linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    background-image: linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
    background-size: 500px 30px;
    background-position: 50%;
    height: inherit;
    position: absolute;
    width: inherit
}

.current .side_one, .current.flip .side_two {
    -webkit-box-shadow: 0 3px 5px #000;
    -moz-box-shadow: 0 3px 5px #000;
    box-shadow: 0 3px 5px #000
}

.current.flip .side_one {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.side_one {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 900
}

.flip .side_one {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.side_two {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 800
}

.flip .side_two {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 1000
}

.card p {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 44, color-stop(0%, #ffffff), color-stop(97.727%, #ffffff), color-stop(100%, #ff78b4));
    background-image: -webkit-linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-image: -moz-linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-image: -o-linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-image: -ms-linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-image: linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-size: 500px 45px;
    background-repeat: repeat-x;
    display: table-cell;
    height: 300px;
    vertical-align: middle;
    width: 500px
}

#nav_deck {
    color: #fff;
    position: relative
}

.icon {
    cursor: pointer
}

.icon:before {
    content: attr(data-icon);
    font-family: 'Flash Cards';
    visibility: visible
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

#prev:before, #next:before, #flipper:before {
    font-size: 30px;
    padding: 10px;
    position: absolute;
    width: 40px
}

#prev:before {
    left: 0
}

#next:before {
    right: 0
}

#flipper:before {
    left: 50%;
    margin-left: -30px
}

#keyboard_shortcuts {
    background: #000;
    display: none;
    left: 0;
    padding: 20px;
    position: absolute;
    bottom: 0;
    z-index: 99999
}

#keyboard_shortcuts h1 {
    text-align: center
}

#keyboard_shortcuts td {
    padding: 15px;
    text-align: left;
    width: 300px
}

#keyboard_shortcuts td:first-child {
    text-align: right
}

.or {
    color: #222;
    padding: 0 10px
}

#keyboard_shortcuts_toggle {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px
}

#keyboard_shortcuts_toggle:before {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: #0080ff;
    border: 1px solid #fff;
    color: #fff;
    font-size: 25px;
    height: 20px;
    padding: 5px;
    width: 20px
}

.no-csstransforms3d .flip .side_one, .no-csstransforms3d .side_two {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0
}

.no-csstransforms3d .flip .side_two {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 1
}

body {
    background: #222;
    color: #ccc;
    font: 15px sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 500px
}

h1 {
    font-size: 30px
}

a {
    color: #fff
}

a:visited {
    color: #fff
}

a:hover {
    color: #fff;
    text-decoration: none
}

.card:first-child .side_two {
    font-family: GungSeo, serif
}

.sidenav {
    height: 0px;
    width: 250px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #ffeaf5;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0px;
    transition: 0.5s;
}
.sidenav-content {
    margin-top: 50px!important;
    margin-left: 15px!important;
    color: white;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {

}
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 39px;
    border: 1px;
    font-size: 32px;
    margin-left: 50px;
    color: orange;
}
.sidenav .loadbtn {
    background-color: ghostwhite;
    float: right;
    margin: 10px 23px;
    font-size: 15px;
    color: rgba(67, 131, 180, 0.9);
    padding-left: 10px;
}
.sidenav .loadbtn:hover {
    color: orange;
}
#settingContainer .openbtn {
    top: 0;
    font-size: 32px;
    margin-left: 50px;
    position: absolute;
    z-index: 1;
    right: 25px;
    border: 1px;
    height: 30px;
    width: 68px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
#main {
    transition: margin-left .5s;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    #deck {
        height: 200px;
        list-style: none;
        margin: 15px auto;
        padding: 0;
        position: relative;
        text-align: center;
        width: 400px
    }

    #container {
        list-style: none;
        margin: 15px auto;
        padding: 0;
        position: fixed;
        text-align: center;
        width: 100%;
    }

    .card {
        -webkit-perspective: 1600;
        perspective: 1600;
        color: #222;
        display: none;
        font-size: 30px;
        height: 200px;
        line-height: 40px;
        position: relative;
        width: 400px
    }

}